/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #f7f5f5;
	color: #222222;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.wrapper {
	width: 1280px;
	margin: 50px auto;
}

header .logo {
	font-weight: 700;
	font-size: 20px;
}

header ul.nav {
	float: right;
	list-style: none;
}

header ul.nav li {
	display: inline;
	margin-left: 25px;
	cursor: pointer;
	transition: opacity 500ms ease;
}

header ul.nav li:hover {
	opacity: 0.5;
}

.categories div {
	display: inline-block;
	background: #f2f2f2;
	border-radius: 50px;
}

main {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}

main .item {
	width: 30%;
	margin: 30px 20px;
	background: #f7e2e2;
	border-radius: 10px 10px;
	overflow: hidden;
	transition: transform 500ms ease;
	position: relative;
	padding-bottom: 20px;
}

main .item:hover {
	transform: scale(1.05);
}

main h2,
main p,
main b {
	margin: 10px 20px;
	color: #333;
}

main .id {
	color: #6f6f6f;
}

main b {
	color: #a04545;
}

footer {
	text-align: center;
	margin-top: 100px;
}
